<div class="post-form-container">
  <h1>パスワードを忘れましたか？</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "登録したメールアドレスを入力してください" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードリセット手順を送信" %>
    </div>
  <% end %>

  <div style="text-align: center; margin-top: 1.5rem;">
    <%= render "devise/shared/links" %>
  </div>
</div>
