<h1>ホーム</h1>
<p>Find me in app/views/homes/index.html.erb</p><% if @posts.present? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <strong><%= link_to post.post, post_path(post) %></strong><br>
        投稿者: <%= post.user.name %><br>
        理由: <%= post.reason %><br>
        カテゴリ: <%= post.category&.name %><br>
        日付: <%= post.recorded_on %>
      </li>
    <% end %>
  </ul>
  <%= paginate @posts %>
<% else %>
  <p>投稿がありません。</p>
<% end %>
