<!DOCTYPE html>
<html>
  <head>
    <title>NoMore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="main-header">
      <div class="header-logo">
        <%= link_to "No More", root_path %>
      </div>
      <nav class="header-nav">
        <% if user_signed_in? %>
          <%= link_to "ホーム", home_path, class: "header-btn" %>
          <%= link_to "投稿作成", new_post_path, class: "header-btn" %>
          <%= link_to "ユーザー一覧", users_path, class: "header-btn" %>
          <%= link_to "マイページ<br>(#{current_user.name}さん)".html_safe, user_path(current_user), class: "header-btn" %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'header-btn' %>
          <%= form_with url: "#", method: :get, class: "header-search-form", style: "display:inline;", local: true do |f| %>
            <%= f.text_field :q, placeholder: "検索...", class: "header-search-input" %>
            <%= f.submit "検索", class: "header-search-btn" %>
          <% end %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header-btn" %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
