<!DOCTYPE html>
<html>
  <head>
    <title>NoMore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="main-header">
      <div class="header-logo">
        <a href="/">No More</a>
      </div>
      <nav class="header-nav">
        <a href="/login" class="header-btn">ログイン</a>
        <a href="/guest_login" class="header-btn">ゲストログイン</a>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
